.projects {
  width: 100%;
  margin-block: auto;

  h1 {
    text-align: center;
    color: var(--kirby);
    font-size: 2rem;
    margin: 0;
  }

  a {
    color: var(--littlemac);
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-inline: .5rem;
  margin-block: 3rem;
  gap: 1rem;
}

.image {
  text-align: center;
  object-fit: cover;
  //height: auto;
  width: 100%;
  margin: auto;
}

@media (min-width: 768px) {
  .projects {
    font-size: 1.25rem;

    h1 {
      font-size: 3rem;
    }
  }

  .grid {
    grid-template-columns: 3fr 4fr;
    gap: 3rem;
  }

}

@media (min-width: 1024px) {
  .projects {

    h1 {
      font-size: 4rem;
    }
  }
}
