.navBar {
  color: var(--kirby);
  display: flex;
  width: calc(100% - 2rem);
  justify-content: space-between;
  padding-inline: 1rem;
  border-bottom: .5px solid #A9A9A9;

  a {
    margin-block: auto;
  }

  button {
    background-color: var(--kirby);
    color: var(--ganondorf);
    border-radius: 25px;
    border: none;
    padding: .75rem 2rem;
    font-family: var(--primaryFont);
    font-size: 1.25rem;
  }
}

.name {
  font-size: 2.5rem;
}
